
.rbc-show-more {
  color: black !important;
  font-weight: 600;
  text-decoration: none !important;
  background: transparent;
}

.rbc-show-more:hover {
  color: black !important;
  background: transparent !important;
  cursor: pointer;
}
.custom-popup {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 250px;
  padding: 10px;
  border: 1px solid #e5e7eb;
  animation: fadeIn 0.2s ease-in-out;
}

.popup-header {
  font-weight: 600;
  color: #111827;
  font-size: 14px;
  margin-bottom: 6px;
  text-align: center;
}

.popup-list {
  max-height: 150px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.popup-item {
  padding: 6px;
  border-radius: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.popup-item:hover {
  transform: scale(1.03);
}

.popup-title {
  font-size: 13px;
  font-weight: 500;
}

.popup-desc {
  font-size: 11px;
  opacity: 0.8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
